body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1182px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1200px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:0px;
  width:720px;
  height:1200px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:592px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:764px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:237px;
  width:430px;
  height:764px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:374px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:320px;
  width:202px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u248 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:270px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
