body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1185px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1200px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:720px;
  height:1200px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:592px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:767px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:237px;
  width:432px;
  height:767px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:270px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
