body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u1 {
  position:absolute;
  left:2px;
  top:442px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:136px;
  width:230px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:60px;
  top:433px;
  width:150px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:310px;
  top:50px;
  width:70px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:315px;
  top:56px;
  width:20px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:70px;
  top:440px;
  width:20px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:150px;
  width:20px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:320px;
  top:204px;
  width:294px;
  height:205px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:205px;
}
#u12 {
  position:absolute;
  left:2px;
  top:94px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:637px;
  top:204px;
  width:294px;
  height:205px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:205px;
}
#u14 {
  position:absolute;
  left:2px;
  top:94px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:949px;
  top:204px;
  width:295px;
  height:205px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:205px;
}
#u16 {
  position:absolute;
  left:2px;
  top:94px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1259px;
  top:204px;
  width:295px;
  height:205px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:205px;
}
#u18 {
  position:absolute;
  left:2px;
  top:94px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:325px;
  top:492px;
  width:294px;
  height:208px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:208px;
}
#u20 {
  position:absolute;
  left:2px;
  top:96px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:637px;
  top:492px;
  width:294px;
  height:206px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:206px;
}
#u22 {
  position:absolute;
  left:2px;
  top:95px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:949px;
  top:492px;
  width:295px;
  height:206px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:206px;
}
#u24 {
  position:absolute;
  left:2px;
  top:95px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1259px;
  top:492px;
  width:295px;
  height:206px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:206px;
}
#u26 {
  position:absolute;
  left:2px;
  top:95px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:325px;
  top:788px;
  width:294px;
  height:229px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:229px;
}
#u28 {
  position:absolute;
  left:2px;
  top:106px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:637px;
  top:788px;
  width:295px;
  height:229px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:229px;
}
#u30 {
  position:absolute;
  left:2px;
  top:106px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:949px;
  top:788px;
  width:294px;
  height:232px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:232px;
}
#u32 {
  position:absolute;
  left:2px;
  top:108px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1259px;
  top:788px;
  width:295px;
  height:229px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:229px;
}
#u34 {
  position:absolute;
  left:2px;
  top:106px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:60px;
  top:662px;
  width:150px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:70px;
  top:669px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1547px;
  top:23px;
  width:50px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:1554px;
  top:23px;
  width:20px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:180px;
  top:900px;
  width:1420px;
  height:180px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:180px;
}
#u42 {
  position:absolute;
  left:2px;
  top:82px;
  width:1416px;
  visibility:hidden;
  word-wrap:break-word;
}
