body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1200px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:0px;
  width:720px;
  height:1200px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:592px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:766px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:236px;
  width:430px;
  height:766px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:375px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:630px;
  width:390px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u153 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:270px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
